@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
}
body{
  overflow:hidden;
  letter-spacing: 0.15rem;
}
@media(max-width:800px){
  html{
    font-size:70%;
  }
  .submitBtn{
    padding:2rem 0!important;
    border-radius: 50% !important;
  }
}
@media(max-width:621px){
  html{
    font-size:50%;
  }
  .scrollDown{
    bottom: 3rem!important;
    right: 0.3rem !important;
  }
}
@media(max-width:395px){
  .scrollDown{
    bottom:-1rem!important;
    right: 0rem !important;
  }
}