.mainChatSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(71, 138, 245, 0.8)), to(rgba(49, 32, 201, 0.8)));
  background: linear-gradient(rgba(71, 138, 245, 0.8), rgba(49, 32, 201, 0.8));
  z-index: -1;
}

.mainChatSection {
  width: 100%;
  height: 100vh;
  position: absolute !important;
  z-index: -1;
}

::-webkit-input-placeholder {
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-size: 1rem;
}

::-ms-input-placeholder {
  font-size: 1rem;
}

::placeholder {
  font-size: 1rem;
}

.innerChatSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 85.6vh;
  position: relative;
}

.messageBox {
  width: 80%;
  height: 80vh;
  margin: 1rem 0 0 0;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow-y: auto;
}

.bottomBox {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
}

.form-input {
  width: 97%;
  padding: 0.3rem 0rem 0.3rem 1rem;
  background-color: white;
  border-radius: 10rem;
}

.textField {
  margin: 1rem 0.3rem 1rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sendButton {
  border-radius: 50%;
  padding: 0.8rem;
  margin: 0 0 0 0.4rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #f50057;
}

.user {
  background-color: #1c1db4;
  margin: 1.7rem 1.4rem !important;
  padding: 0.7rem 1.2rem !important;
  border-radius: 0.4rem !important;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: right;
  clear: both;
  font-weight: bolder;
  max-width: 40%;
  word-break: break-all;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.other-user {
  background-color: #dc049d;
  margin: 1.7rem 1.4rem !important;
  border-radius: 0.4rem !important;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  clear: both;
  font-weight: bolder;
  max-width: 40%;
  word-break: break-all;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scrollDown {
  position: absolute;
  bottom: 2rem;
  padding: 0.3rem;
  right: 2rem;
  font-size: 2rem !important;
  color: white !important;
  background-color: #f50057 !important;
  border-radius: 50%;
}

.scrollDown:hover {
  cursor: pointer;
}

.notification {
  background-color: #3992d9;
  margin: 1.7rem auto !important;
  padding: 0.7rem 1.2rem !important;
  border-radius: 0.4rem !important;
  color: white;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: center;
  clear: both;
  font-weight: bolder;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ScrollBar styling */
.messageBox::-webkit-scrollbar {
  width: 12px;
}

.messageBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.messageBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* ScrollBar styling */
/*# sourceMappingURL=style.css.map */